In [20]:
import numpy as np
import pandas as pd

In [1]:
import eurostat

In [7]:
toc_df = eurostat.get_toc_df()

In [15]:
f = eurostat.subset_toc_df(toc_df, 'fleet')
f.head()

,title,code,type,last update of data,last table structure change,data start,data end
5669,Fishing fleet,fish_fleet,folder,,,,
5670,"Fishing fleet by age, length and gross tonnage",fish_fleet_alt,dataset,21.10.2019,26.09.2019,1990,2018
5671,Fishing fleet by type of gear and engine power,fish_fleet_gp,dataset,21.10.2019,02.10.2019,1990,2018
6284,Commercial aircraft fleet by type of aircraft,avia_eq_arc_typ,dataset,25.09.2019,27.05.2019,2001,2017
6285,Commercial aircraft fleet by age of aircraft,avia_eq_arc_age,dataset,25.09.2019,27.05.2019,2001,2017

In [21]:
data = pd.DataFrame(eurostat.get_data('demo_r_d2jan'))

In [22]:
data

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,unit,sex,age,geo\time,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,...,1999.0,1998.0,1997.0,1996.0,1995.0,1994.0,1993.0,1992.0,1991.0,1990.0
1,NR,F,TOTAL,AL,1431715.0,1423050.0,1417141.0,1424597.0,1430827.0,1437193.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NR,F,TOTAL,AL0,1431715.0,1423050.0,1417141.0,1424597.0,1430827.0,1437193.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NR,F,TOTAL,AL01,405598.0,405835.0,416845.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NR,F,TOTAL,AL02,585530.0,574010.0,552949.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168608,NR,T,Y_OPEN,UKM7,323.0,343.0,342.0,333.0,315.0,294.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168609,NR,T,Y_OPEN,UKM8,210.0,229.0,231.0,229.0,221.0,206.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168610,NR,T,Y_OPEN,UKM9,160.0,159.0,164.0,166.0,161.0,149.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168611,NR,T,Y_OPEN,UKN,282.0,281.0,274.0,265.0,250.0,237.0,...,7493.0,7449.0,7293.0,18763.0,18456.0,18214.0,17934.0,17566.0,NaN,NaN
168612,NR,T,Y_OPEN,UKN0,282.0,281.0,274.0,265.0,250.0,237.0,...,7493.0,7449.0,7293.0,18763.0,18456.0,18214.0,17934.0,17566.0,NaN,NaN

In [25]:
dic = eurostat.get_dic('sex')
dic

{'T': 'Total',
 'M': 'Males',
 'F': 'Females',
 'DIFF': 'Absolute difference between males and females',
 'NAP': 'Not applicable',
 'NRP': 'No response',
 'UNK': 'Unknown'}

In [29]:
avail_sdmx_df = eurostat.get_avail_sdmx_df()

ValueError: True is not in list

In [30]:
keyword = 'fleet'
subset = eurostat.subset_avail_sdmx_df(avail_sdmx_df, keyword)

NameError: name 'avail_sdmx_df' is not defined

In [31]:
eurostat.get_sdmx_dims('DS-066341')

ValueError: True is not in list

In [33]:
StartPeriod = 2007
EndPeriod = 2008
filter_pars = {'FREQ': ['A',], 'PRCCODE': ['08111250','08111150']}
data = eurostat.get_sdmx_data('DS-066341', StartPeriod, EndPeriod, filter_pars, flags = False, verbose=True)

ValueError: True is not in list