# Definition of UBI

A basic income, also called basic income guarantee, universal basic income (UBI), basic living stipend (BLS), or universal demogrant, is a type of program in which citizens (or permanent residents) of a country may receive a regular sum of money from a source such as the government. A pure or unconditional basic income has no means test, but unlike Social Security in the United States it is distributed automatically to all citizens without a requirement to notify changes in the citizen's financial status. Basic income can be implemented nationally, regionally or locally. The World Bank's World Development Report 2019 on the future of work describes the existing schemes around the world.

An unconditional income that is sufficient to meet a person's basic needs (at or above the poverty line), is called full basic income, while if it is less than that amount, it is called partial.

Source: [Wikipedia](https://en.wikipedia.org/wiki/Basic_income)

In [2]:
# Library imports
import pandas as pd
import requests

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Unemployment Analysis

Data source: [Eurostat Database](http://appsso.eurostat.ec.europa.eu/nui/show.do?query=BOOKMARK_DS-055624_QID_3341A187_UID_-3F171EB0&layout=TIME,C,X,0;GEO,L,Y,0;S_ADJ,L,Z,0;AGE,L,Z,1;UNIT,L,Z,2;SEX,L,Z,3;INDICATORS,C,Z,4;&zSelection=DS-055624AGE,TOTAL;DS-055624INDICATORS,OBS_FLAG;DS-055624SEX,T;DS-055624S_ADJ,SA;DS-055624UNIT,PC_ACT;&rankName1=UNIT_1_2_-1_2&rankName2=AGE_1_2_-1_2&rankName3=INDICATORS_1_2_-1_2&rankName4=SEX_1_2_-1_2&rankName5=S-ADJ_1_2_-1_2&rankName6=TIME_1_0_0_0&rankName7=GEO_1_2_0_1&sortC=ASC_-1_FIRST&rStp=&cStp=&rDCh=&cDCh=&rDM=true&cDM=true&footnes=false&empty=false&wai=false&time_mode=FIXED&time_most_recent=true&lang=EN&cfo=%23%23%23%2C%23%23%23.%23%23%23)

In [3]:
BASE = 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/'

url = BASE + 'une_rt_m?geo=EU28&unit=THS_PER&'


result = requests.get(url)
j = result.json()

df_list = pd.DataFrame(j)
df_list

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [5]:
import random

for i in range(10):
    r = random.randint(1, 100)
    print(r)

55
3
82
35
84
4
32
74
73
16

In [2]:
df = pd.read_csv('data/une_rt_m_1_Data.csv')
df.head()

,TIME,GEO,S_ADJ,AGE,UNIT,SEX,Value
0,1983M01,European Union (current composition),"Seasonally adjusted data, not calendar adjuste...",Total,Thousand persons,Total,:
1,1983M01,European Union (current composition),"Seasonally adjusted data, not calendar adjuste...",Total,Thousand persons,Males,:
2,1983M01,European Union (current composition),"Seasonally adjusted data, not calendar adjuste...",Total,Thousand persons,Females,:
3,1983M01,European Union (current composition),"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of active population,Total,:
4,1983M01,European Union (current composition),"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of active population,Males,:

In [3]:
df.shape, df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270270 entries, 0 to 270269
Data columns (total 7 columns):
TIME     270270 non-null object
GEO      270270 non-null object
S_ADJ    270270 non-null object
AGE      270270 non-null object
UNIT     270270 non-null object
SEX      270270 non-null object
Value    270270 non-null object
dtypes: object(7)
memory usage: 14.4+ MB

((270270, 7), None)

In [4]:
df.describe()

,TIME,GEO,S_ADJ,AGE,UNIT,SEX,Value
count,270270,270270,270270,270270,270270,270270,270270
unique,429,35,1,3,2,3,7962
top,1987M09,United Kingdom,"Seasonally adjusted data, not calendar adjuste...",Less than 25 years,Thousand persons,Total,:
freq,630,7722,270270,90090,135135,90090,74888

## Data Wrangling

In [5]:
del df['S_ADJ']
del df['UNIT']

In [6]:
df['GEO'].replace(
    to_replace = 'Germany (until 1990 former territory of the FRG)', 
    value='Germany', inplace=True)

In [7]:
df.GEO.unique()

array(['European Union (current composition)', 'Euro area (19 countries)',
       'Belgium', 'Bulgaria', 'Czechia', 'Denmark', 'Germany', 'Estonia',
       'Ireland', 'Greece', 'Spain', 'France', 'Croatia', 'Italy',
       'Cyprus', 'Latvia', 'Lithuania', 'Luxembourg', 'Hungary', 'Malta',
       'Netherlands', 'Austria', 'Poland', 'Portugal', 'Romania',
       'Slovenia', 'Slovakia', 'Finland', 'Sweden', 'United Kingdom',
       'Iceland', 'Norway', 'Turkey', 'United States', 'Japan'],
      dtype=object)

In [8]:
g = df[['TIME', 'GEO', 'Value']].groupby(['TIME','GEO'])
g.sum()

                                                                                          Value
TIME    GEO
1983M01 Austria                                                              ::::::::::::::::::
        Belgium                                                              ::::::::::::::::::
        Bulgaria                                                             ::::::::::::::::::
        Croatia                                                              ::::::::::::::::::
        Cyprus                                                               ::::::::::::::::::
        Czechia                                                              ::::::::::::::::::
        Denmark                               2111101018.17.78.583463916.917.416.812866636.0...
        Estonia                                                              ::::::::::::::::::
        Euro area (19 countries)                                             ::::::::::::::::::
        European Union (current composition)                                 ::::::::::::::::::
        Finland                                                              ::::::::::::::::::
        France                                1 7428179257.15.79.072230641615.612.019.91 020...
        Germany                                                              ::::::::::::::::::
        Greece                                                               ::::::::::::::::::
        Hungary                                                              ::::::::::::::::::
        Iceland                                                              ::::::::::::::::::
        Ireland                               1661095812.912.314.467402718.920.417.199693010...
        Italy                                 1 5477178306.94.811.293446550023.821.028.96202...
        Japan                                                1 5809506302.72.72.7:::4.6::::::::
        Latvia                                                               ::::::::::::::::::
        Lithuania                                                            ::::::::::::::::::
        Luxembourg                                         5233.32.35.33117.56.29.02112.11.53.4
        Malta                                                                ::::::::::::::::::
        Netherlands                           5723442289.59.010.42471549316.120.212.13251901...
        Norway                                                               ::::::::::::::::::
        Poland                                                               ::::::::::::::::::
        Portugal                              3851422438.15.012.52187714118.512.225.81676510...
        Romania                                                              ::::::::::::::::::
        Slovakia                                                             ::::::::::::::::::
        Slovenia                                                             ::::::::::::::::::
...                                                                                         ...
2018M09 Czechia                                                              ::::::::::::::::::
        Denmark                                                              ::::::::::::::::::
        Estonia                                                              ::::::::::::::::::
        Euro area (19 countries)                                             ::::::::::::::::::
        European Union (current composition)                                 ::::::::::::::::::
        Finland                               201102997.37.17.555262917.517.118.014576706.05...
        France                                                               ::::::::::::::::::
        Germany                                                              ::::::::::::::::::
        Greece                                                               ::::::::::::::::::
        Hungary                                                              ::::::::::::::::::
        Iceland                                                              ::::::::::::::::::
        Ireland                               12973565.45.75.135201512.913.712.09554414.54.74.2
        Italy                                                                ::::::::::::::::::
        Japan                                                                ::::::::::::::::::
        Latvia                                                               ::::::::::::::::::
        Lithuania                                                            ::::::::::::::::::
        Luxembourg                                                           ::::::::::::::::::
        Malta                                                                ::::::::::::::::::
        Netherlands                           3431811623.73.73.810957527.57.87.12341241103.0...
        Norway                                                               ::::::::::::::::::
        Poland                                                               ::::::::::::::::::
        Portugal                                                             ::::::::::::::::::
        Romania                                                              ::::::::::::::::::
        Slovakia                                                             ::::::::::::::::::
        Slovenia                                                             ::::::::::::::::::
        Spain                                                                ::::::::::::::::::
        Sweden                                                               ::::::::::::::::::
        Turkey                                                               ::::::::::::::::::
        United Kingdom                                                       ::::::::::::::::::
        United States                                                        ::::::::::::::::::

[15015 rows x 1 columns]

In [9]:
g = df.groupby(['TIME','GEO'])
g.sum()

                                                                                            AGE  \
TIME    GEO
1983M01 Austria                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Belgium                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Bulgaria                              TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Croatia                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Cyprus                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Czechia                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Denmark                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Estonia                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Euro area (19 countries)              TotalTotalTotalTotalTotalTotalLess than 25 yea...
        European Union (current composition)  TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Finland                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        France                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Germany                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Greece                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Hungary                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Iceland                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Ireland                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Italy                                 TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Japan                                 TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Latvia                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Lithuania                             TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Luxembourg                            TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Malta                                 TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Netherlands                           TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Norway                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Poland                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Portugal                              TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Romania                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Slovakia                              TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Slovenia                              TotalTotalTotalTotalTotalTotalLess than 25 yea...
...                                                                                         ...
2018M09 Czechia                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Denmark                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Estonia                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Euro area (19 countries)              TotalTotalTotalTotalTotalTotalLess than 25 yea...
        European Union (current composition)  TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Finland                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        France                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Germany                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Greece                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Hungary                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Iceland                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Ireland                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Italy                                 TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Japan                                 TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Latvia                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Lithuania                             TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Luxembourg                            TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Malta                                 TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Netherlands                           TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Norway                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Poland                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Portugal                              TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Romania                               TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Slovakia                              TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Slovenia                              TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Spain                                 TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Sweden                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        Turkey                                TotalTotalTotalTotalTotalTotalLess than 25 yea...
        United Kingdom                        TotalTotalTotalTotalTotalTotalLess than 25 yea...
        United States                         TotalTotalTotalTotalTotalTotalLess than 25 yea...

                                                                                            SEX  \
TIME    GEO
1983M01 Austria                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Belgium                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Bulgaria                              TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Croatia                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Cyprus                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Czechia                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Denmark                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Estonia                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Euro area (19 countries)              TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        European Union (current composition)  TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Finland                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        France                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Germany                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Greece                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Hungary                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Iceland                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Ireland                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Italy                                 TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Japan                                 TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Latvia                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Lithuania                             TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Luxembourg                            TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Malta                                 TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Netherlands                           TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Norway                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Poland                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Portugal                              TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Romania                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Slovakia                              TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Slovenia                              TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
...                                                                                         ...
2018M09 Czechia                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Denmark                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Estonia                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Euro area (19 countries)              TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        European Union (current composition)  TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Finland                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        France                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Germany                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Greece                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Hungary                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Iceland                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Ireland                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Italy                                 TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Japan                                 TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Latvia                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Lithuania                             TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Luxembourg                            TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Malta                                 TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Netherlands                           TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Norway                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Poland                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Portugal                              TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Romania                               TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Slovakia                              TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Slovenia                              TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Spain                                 TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Sweden                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        Turkey                                TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        United Kingdom                        TotalMalesFemalesTotalMalesFemalesTotalMalesFe...
        United States                         TotalMalesFemalesTotalMalesFemalesTotalMalesFe...

                                                                                          Value
TIME    GEO
1983M01 Austria                                                              ::::::::::::::::::
        Belgium                                                              ::::::::::::::::::
        Bulgaria                                                             ::::::::::::::::::
        Croatia                                                              ::::::::::::::::::
        Cyprus                                                               ::::::::::::::::::
        Czechia                                                              ::::::::::::::::::
        Denmark                               2111101018.17.78.583463916.917.416.812866636.0...
        Estonia                                                              ::::::::::::::::::
        Euro area (19 countries)                                             ::::::::::::::::::
        European Union (current composition)                                 ::::::::::::::::::
        Finland                                                              ::::::::::::::::::
        France                                1 7428179257.15.79.072230641615.612.019.91 020...
        Germany                                                              ::::::::::::::::::
        Greece                                                               ::::::::::::::::::
        Hungary                                                              ::::::::::::::::::
        Iceland                                                              ::::::::::::::::::
        Ireland                               1661095812.912.314.467402718.920.417.199693010...
        Italy                                 1 5477178306.94.811.293446550023.821.028.96202...
        Japan                                                1 5809506302.72.72.7:::4.6::::::::
        Latvia                                                               ::::::::::::::::::
        Lithuania                                                            ::::::::::::::::::
        Luxembourg                                         5233.32.35.33117.56.29.02112.11.53.4
        Malta                                                                ::::::::::::::::::
        Netherlands                           5723442289.59.010.42471549316.120.212.13251901...
        Norway                                                               ::::::::::::::::::
        Poland                                                               ::::::::::::::::::
        Portugal                              3851422438.15.012.52187714118.512.225.81676510...
        Romania                                                              ::::::::::::::::::
        Slovakia                                                             ::::::::::::::::::
        Slovenia                                                             ::::::::::::::::::
...                                                                                         ...
2018M09 Czechia                                                              ::::::::::::::::::
        Denmark                                                              ::::::::::::::::::
        Estonia                                                              ::::::::::::::::::
        Euro area (19 countries)                                             ::::::::::::::::::
        European Union (current composition)                                 ::::::::::::::::::
        Finland                               201102997.37.17.555262917.517.118.014576706.05...
        France                                                               ::::::::::::::::::
        Germany                                                              ::::::::::::::::::
        Greece                                                               ::::::::::::::::::
        Hungary                                                              ::::::::::::::::::
        Iceland                                                              ::::::::::::::::::
        Ireland                               12973565.45.75.135201512.913.712.09554414.54.74.2
        Italy                                                                ::::::::::::::::::
        Japan                                                                ::::::::::::::::::
        Latvia                                                               ::::::::::::::::::
        Lithuania                                                            ::::::::::::::::::
        Luxembourg                                                           ::::::::::::::::::
        Malta                                                                ::::::::::::::::::
        Netherlands                           3431811623.73.73.810957527.57.87.12341241103.0...
        Norway                                                               ::::::::::::::::::
        Poland                                                               ::::::::::::::::::
        Portugal                                                             ::::::::::::::::::
        Romania                                                              ::::::::::::::::::
        Slovakia                                                             ::::::::::::::::::
        Slovenia                                                             ::::::::::::::::::
        Spain                                                                ::::::::::::::::::
        Sweden                                                               ::::::::::::::::::
        Turkey                                                               ::::::::::::::::::
        United Kingdom                                                       ::::::::::::::::::
        United States                                                        ::::::::::::::::::

[15015 rows x 3 columns]

In [10]:
germany = df[(df.GEO == 'Germany')]

In [11]:
germany.groupby(['Time',''])

KeyError: 'Time'